.not-found {
  &__container {
    @extend .flex-column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 140px;
    font-family: var(--secondary-font);
    font-weight: 300;
  }

  &__desc {
    font-size: 22px;
    color: var(--light);
    margin-bottom: 30px;
    text-align: center;
  }

  &__btn {

  }
}
