.body-inner {
  .header {
    position: static;
    top: initial;
    left: initial;

    margin-bottom: 30px;
  }

  &--bg {
    background-image: url("../assets/img/hero-bg.jpg");
    background-size: cover;
    background-position: center;

    .footer::after {
      display: none;
    }

    &::after,
    &::before {
      display: none;
    }
  }


  .request {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;

    &::after {
      top: 0;
      left: 0;
      @extend .section-line;
    }
  }
}
