.info .contact-info {
  max-width: 350px;

  &__title {
    position: relative;
    display: flex;

    & > p {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.01em;
      color: var(--accent);
      max-width: 650px;
      margin-bottom: 25px;
      padding-right: 12px;

      @include m-b-down(421px) {
        font-size: 14px;
      }
    }

    svg {
      margin-top: -8px;
      fill: var(--accent);
    }
  }

  &__row {
    display: flex;
    margin-bottom: 20px;

    &-phone {
      margin-right: 15px;

      a {
        @extend .flex-column;

        font-size: 24px;
        font-weight: 600;
        color: var(--white);

        @extend .main-link-transition;

        @include m-b-down(421px) {
          font-size: 20px;
        }
      }

      small {
        font-size: 12px;
        font-weight: 500;
        color: var(--violet);
      }
    }

    &-social {
      margin-left: auto;
      align-items: flex-start;
    }

  }
}
