.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 35px 0 10px;

  &__container {
    @extend .flex-wrap;
    position: relative;
  }

  &__badge {
    position: absolute;
    top: -35px;
    left: 195px;

    @extend .flex-centered-content;
    height: 35px;
    padding: 10px 25px;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
    background-color: var(--accent);

    svg {
      fill: white;
      margin-right: 5px;
    }

    span {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--white);
    }
  }

  &__logo {
    margin-right: 5px;
    justify-content: flex-end;
  }

  &__nav {
    @extend .flex-wrap;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 20px;
    flex-grow: 1;
  }

  &__contacts {
    @extend .flex-wrap;
    align-items: center;
  }

  &__social {
    margin-right: 20px;
  }

  &__phones {
    margin-right: 20px;
  }

  &__callback {
    font-family: var(--font-family);
    font-size: 12px;
    padding: 27px 17px;
  }
}
