.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0 10px;

  @include m-b-desktop-down {
    padding: 10px 0;
  }

  &__container {
    @extend .flex-wrap;
    position: relative;

    padding-top: 20px;

    @include m-b-desktop-down {
      align-items: center;
      padding-top: 10px;
    }
  }

  &__badge {
    position: absolute;
    top: -35px;
    left: 195px;

    @extend .flex-centered-content;
    height: 35px;
    padding: 10px 25px;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
    background-color: var(--accent);

    @include m-b-desktop-down {
      position: static;
      top: initial;
      left: initial;
      transform: none;
      padding: 10px;
      background-color: transparent;

      padding: 5px 10px;
      height: 30px;
    }

    @include m-b-down(367px) {
      display: none;
    }

    svg {
      fill:var(--white);
      margin-right: 5px;

      @include m-b-desktop-down {
        display: none;
      }
    }

    span {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--white);

      @include m-b-desktop-down {
        font-size: 18px;
        color: transparent;
        background-clip: text;
        background-image: url(../assets/img/text-underlay.jpg);
        background-position: center;

        & > span {
          display: none;
        }
      }

      @include m-b-mobile-lg-down {
        font-size: 16px;
      }
    }
  }

  &__logo {
    margin-right: 5px;
    justify-content: flex-end;

    @include m-b-down(421px) {
      img {
        width: 120px;
        height: 30px;
        margin: 0;
        object-fit: contain;
      }

      span {
        display: none;
      }
    }
  }

  &__nav {
    @extend .flex-wrap;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 20px;
    flex-grow: 1;

    @include m-b-desktop-down {
      margin-bottom: 0;
      margin-left: 15px;

      .nav {
        margin: 0 auto;
      }
    }

    @include m-b-laptop-down {
      display: none;
    }
  }

  &__contacts {
    position: relative;

    &-mobile-opener {
      display: none;

      @extend .button-default;
      @extend .flex-centered-content;
      width: 30px;
      height: 30px;

      margin-right: 40px;
      @extend .svg-icon;

      @include m-b-desktop-down {
        svg {
          fill: var(--white);
        }
      }

      @include m-b-down(421px) {
        margin-right: 25px;
      }

      @include m-b-desktop-down {
        display: flex;
      }
    }

    &-mobile-closer {
      display: none;

      @extend .flex-centered-content;
      @extend .button-default;

      position: absolute;
      top: 10px;
      right: 10px;
    }

    &-container {
      @extend .flex-wrap;
      align-items: center;

      @include m-b-desktop-down {
        display: none;
      }
    }

    @include m-b-laptop-down {
      margin-left: auto;
    }

    @include m-b-desktop-down {
      &.active {

        .header__contacts-mobile-closer {
          display: flex;
        }

        .header__contacts-container {
          display: flex;
          position: absolute;
          top: calc(100% + 25px);
          right: 0;
          width: 220px;
          padding: 20px;
          background-color: rgba(61, 58, 65, 0.9);
          border-radius: var(--border-radius);
          z-index: 99;

          &::before {
            position: absolute;
            top: -12px;
            right: 45px;
            content: " ";
            border: 12px solid transparent;
            border-left: 12px solid rgba(61, 58, 65, 0.9);
            border-top: 12px solid rgba(61, 58, 65, 0.9);
            transform: rotate(45deg);
          }

          .header__phones {
            margin-right: 0;

            a {
              margin-bottom: 20px;
            }
          }

          .header__social {
            display: none;
            margin-bottom: 20px;

            @include m-b-down(648px) {
              display: flex;
            }
          }

          .header__callback {
            min-height: 40px;
            width: 100%;
            padding: 20px;
          }
        }
      }
    }


  }

  &__mobile-contacts {
    display: none;

    @include m-b-desktop-down {
      display: flex;
      align-items: center;
    }
  }

  &__social {
    margin-right: 20px;

    @include m-b-laptop-down {
      margin-right: 40px;
    }

    @include m-b-down(648px) {
      display: none;
    }
  }

  &__phones {
    margin-right: 20px;
  }

  &__callback {
    font-family: var(--font-family);
    font-size: 12px;
    padding: 27px 17px;
  }
}

@include m-b-laptop-down {

  .header--mobile-opened {
    margin: 0;
    background-color: var(--mobile-nav-bg);
    .header {
      &__nav {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        width: 100%;

        padding: 20px 10px;

        background-color: var(--mobile-nav-bg);

        z-index: 99;

        .nav {
          margin: 0;
          width: 100%;
          &__list {
            flex-direction: column;
          }

          &__list-item {
            margin: 0;
            margin-bottom: 10px;

            a {
              justify-content: flex-end;
              width: fit-content;
              margin-left: auto;
              padding: 5px;
            }

            &-inner {
              transition: none;
            }

            &-inner.active {
              position: static;
              margin-left: auto;

              ul {
                &::before {
                  display: none;
                }

                border-radius: 0;
                background-color: transparent;
                padding: 0;

                a {
                  text-align: end;
                }
              }
            }
          }
        }
      }



    }
  }
}
