.cmn .contact-info {
  max-width: 350px;

  &__row {
    display: flex;
    margin-bottom: 20px;

    &-phone {
      margin-right: 15px;

      a {
        @extend .flex-column;

        font-size: 24px;
        font-weight: 600;
        color: var(--white);

        @extend .main-link-transition;

        @include m-b-down(421px) {
          font-size: 20px;
        }
      }

      small {
        font-size: 12px;
        font-weight: 500;
        color: var(--violet);
      }
    }

    &-social {
      margin-left: auto;
      align-items: flex-start;
    }
  }
}
