.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  img {
    max-width: 166px;
    margin-bottom: 3px;
    margin-right: 10px;
    object-fit: contain;
  }

  span {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: var(--white);
  }

  @include m-b-mobile-lg-down {
    img {
      max-width: 135px;
    }

    span {
      font-size: 10px;
    }
  }
}
