.review-slider {
  overflow: hidden;
  padding-top: 25px;

  &-controls {
    position: relative;
    @extend .flex-centered-content;
    width: 140px;
  }

  &-button-next,
  &-button-prev {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    margin: 0;

    svg {
      fill: var(--violet);

      transition: color var(--main-transition);
    }

    width: 50px;
    height: 50px;
    border: 1px solid var(--violet);
    border-radius: 50%;

    transition: border-color var(--main-transition);

    &:hover,
    &:focus {
      border-color: var(--white);

      svg {
        fill: var(--white);
      }
    }
  }

  &-button-prev {
    margin-right: 25px;

    svg {
      transform: rotate(180deg);
    }
  }

  &-button-next {
    width: 65px;
    height: 65px;

    svg {
      fill: var(--accent);
    }
    border: 1px solid var(--accent);
  }

  .swiper-slide {
    width: 100%;
    max-width: 410px;
    border-radius: var(--border-radius);
  }
}
