.social {
  display: flex;
  align-items: center;

  a:not(:last-child) {
    margin-right: 10px;
  }

  a {
    @extend .flex-centered-content;

    @extend .svg-icon;

    @include m-b-desktop-down {
      svg {
        fill: var(--white);
      }
    }
  }
}
