.social {
  a:not(:last-child) {
    margin-right: 5px;
  }

  a {
    svg {
      fill: var(--info);
      transition: fill var(--main-transition);
    }

    &:hover,
    &:focus {
      svg {
        fill: var(--accent);
      }
    }
  }
}
