include ../../mixins/articles

section.article
  .container.article__container
    h1.clipped-title.section-title.title-lg Заголовок статьи

    .article__content
      img(src="./assets/img/article-inner.png" width="400" height="285" alt="Фото статьи").float-left

      p Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков. Чтобы привлекать новых пользователей на сайт из таких поисковых систем

      h2 Как подготовить интервью компании?

      ol.accent-text
        li Полная конфиденциальность на каждом этапе;
        li Эксклюзивный каталог с закрытой информацией;
        li Только реальные анкеты и фото;
        li Внимание к деталям;
        li Организация незабываемых встреч;
        li Экскорт премиум-класса;
        li Полная конфиденциальность на каждом этапе;
        li Эксклюзивный каталог с закрытой информацией;
        li Только реальные анкеты и фото;
        li Внимание к деталям;
        li Организация незабываемых встреч;
        li Экскорт премиум-класса;

      p.clearfix Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков. Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов

      .info-note Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков.

      .table-wrapper
        table
          tbody
            tr
              td Текст
              td Очень длинный текст с переносом на новую строчку
              td Текст

            tr
              td Полная конфиденциальность на каждом этапе;
              td Эксклюзивный каталог с закрытой информацией;
              td Только реальные анкеты и фото;

            tr
              td Полная конфиденциальность на каждом этапе;
              td Эксклюзивный каталог с закрытой информацией;
              td Только реальные анкеты и фото;

            tr
              td Полная конфиденциальность на каждом этапе;
              td Эксклюзивный каталог с закрытой информацией;
              td Только реальные анкеты и фото;

      img(src="./assets/img/article-photo.png" width="645" height="295" alt="Фото статьи").float-right

      p Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков. Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков. Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков.
      p.clearfix Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков. Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков. Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст. В сегодняшней статье мы не только разберемся, что это за вид текста, но и попробуем вписать в статью ключевые слова про котиков.

+articles({
  title: 'Смотрите также',
  isInner: true,

  articles: [
    {
      title: 'Длинный заголовок, на целых две строки, с переносом на новую строку',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime!'
    },
    {
      title: 'Короткий заголовок',
      text: 'Совсем немного текста'
    },
    {
      title: 'Как подготовить интервью компании?',
      text: '123317, г. Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити",Башня Федерация "Запад".'
    },
    {
      title: 'Длинный заголовок, на целых две строки, с переносом на новую строку',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime!'
    },
    {
      title: 'Короткий заголовок',
      text: 'Совсем немного текста'
    },
    {
      title: 'Как подготовить интервью компании?',
      text: '123317, г. Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити",Башня Федерация "Запад".'
    },
    {
      title: 'Длинный заголовок, на целых две строки, с переносом на новую строку',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime!'
    },
    {
      title: 'Короткий заголовок',
      text: 'Совсем немного текста'
    },
    {
      title: 'Как подготовить интервью компании?',
      text: '123317, г. Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити",Башня Федерация "Запад".'
    },
    {
      title: 'Длинный заголовок, на целых две строки, с переносом на новую строку',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime!'
    },
    {
      title: 'Короткий заголовок',
      text: 'Совсем немного текста'
    },
    {
      title: 'Как подготовить интервью компании?',
      text: '123317, г. Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити",Башня Федерация "Запад".'
    }
  ]
})
