include ../../mixins/articles

+articles({
  title: 'Статьи',
  titleClass: 'title-lg',

  articles: [
    {
      title: 'Длинный заголовок, на целых две строки, с переносом на новую строку',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime!'
    },
    {
      title: 'Короткий заголовок',
      text: 'Совсем немного текста'
    },
    {
      title: 'Короткий заголовок',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime ! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, in consequatur commodi a assumenda numquam maiores tempora nam id itaque voluptatem reiciendis odio non impedit? Expedita ea asperiores ipsa maxime!'
    },
    {
      title: 'Как подготовить интервью компании?',
      text: '123317, г. Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити",Башня Федерация "Запад".'
    }
  ]
})
