section.articles
  .container
    h1.section-title.title-lg.clipped-title Статьи

    ul.articles__list
      li.articles__list-item
        include ../../components/article-card

      li.articles__list-item
        include ../../components/article-card

      li.articles__list-item
        include ../../components/article-card

      li.articles__list-item
        include ../../components/article-card
