*,
*::before,
*::after {
  box-sizing: inherit;
  border-radius: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  color: var(--white);
  background-color: var(--main-bg-color);
  overflow: hidden;
  overflow-y: auto;

  &.body-locked {
    overflow: hidden;
  }

  &::before {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -1;

    content: '';
    width: 100%;
    max-width: 878px;
    height: 887px;

    background-image: url("../assets/img/dec-top.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1;

    content: '';
    width: 100%;
    max-width: 755px;
    height: 70%;
    max-height: 1767px;

    background-image: url("../assets/img/dec-light.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

footer {
  margin-top: auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
}
