/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "Inter", sans-serif;
    --secondary-font: 'GTEestiProDisplay';
    --content-width: 1360px;
    --content-fluid-width: 1920px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: var(--content-fluid-width);

    --white: #ffffff;
    --accent: #af995e;
    --light: #b4b6bb;
    --dark: #151318;
    --gray: #7e7e7e;
    --input-bg: #262429;
    --success: #327448;
    --skyblue: #5297ac;
    --thumb-slider-btn-bg: #363338;
    --darknest: #1f1d23;

    --model-card-bg: #1d1b21;
    --info: #a29fa8;
    --violet: #949299;

    --main-bg-color: var(--dark);
    --modal-bg: var(--darknest);

    --main-transition: 0.3s 0.02s ease;
    --slow-transition: 0.7s 0.02s ease;
    --border-radius: 4px;
    --mobile-nav-bg: var(--dark);
  }
