.articles {
  &__list {
    @extend .list-reset;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-column-gap: 30px;
    grid-row-gap: 40px;

    @include m-b-tablet-lg-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-mobile-lg-down {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
  }
}

