include ../../mixins/faq-section

+faq-section({
  cl: 'faq--main',
  isFooterExist: false,
  array: [
    {
      title: 'Как фиксируется цена?',
      text: 'Ценовой диапазон по Москве устанавливается, учитывая опыт работы эскорт-модели. Как правило, стоимость одного вечера варьируется в пределах 50 – 100 тысяч рублей. Вечер в кругу самых востребованных эскорт-моделей будет стоить не менее 100 тысяч рублей. '
    },

    {
      title: 'Можно встретиться с моделью с сайта?',
      text: 'Фото, представленные в каталоге агентства в открытом доступе – образцы. Поскольку мы заботимся о конфиденциальности эскорт-моделей, доступ к их фото открыт лишь для VIP-клиентов.'
    },

    {
      title: 'Как оплачивать услуги?',
      text: 'Оплата эскорт-услуг может быть произведена несколькими способами: Qiwi-кошелек, Master Card, Visa, Btc.'
    },

    {
      title: 'Нужно ли платить, чтобы получить доступ к закрытому каналу?',
      text: 'Да, нужно! Почему? Потому что агентство дорожит репутацией своих моделей и их конфиденциальностью. Также агентство дорожит и конфиденциальностью своих клиентов. Следовательно, безопасность гарантирована обеим сторонам!'
    },

    {
      title: 'В каких случаях клиента исключают из членства в клубе?',
      text: 'Клиент может быть исключен из членства в клубе по несколькими причинам: <ol><li>Если фото эскорт-модели, размещенной в закрытом каталоге, попало в Сеть.</li><li>Если данные входа были переданы третьему лицу. </li><li>Если услуги агентства не использовались большее 3-х месяцев. </li></ol> Чтобы восстановить членство в клубе, клиенту необходимо связаться с менеджером по телефону или через сайт. '
    },

    {
      title: 'Как быстро подбираются модели?',
      text: 'Планирование встречи с эскорт-моделью желательно осуществлять за несколько дней до назначенной даты. Допускается заказ услуг и за 3 часа до начала мероприятия.'
    },

    {
      title: 'Насколько безопасно сотрудничество с агентством?',
      text: 'Эскорт-агентство гарантирует полную конфиденциальность личности и услуг. Также мы обеспечим анонимность всех клиентов и моделей. Именно этот принцип заложен в существование закрытого клуба.'
    },

    {
      title: 'Как вступить в членство клуба?',
      text: 'Чтобы вступить в агентство, необходимо связаться с менеджером в Вотсап или Телеграм!'
    },
  ]
})
