.article-card
  a(href="article.html").article-card__img
    img(src="./assets/img/article-photo.png" alt="Картинка для статьи" width="400" height="285" )

  span.article-card__title Как подготовить интервью компании?

  p.article-card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. In nihil omnis assumenda consequuntur dolor culpa similique possimus nobis qui? Eum sapiente mollitia sequi adipisci, deserunt et nulla libero dolorum dolore.

  a(href="article.html").article-card__link  Подробнее
