nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="#") Вопрос/ответ

    li.nav__list-item
      a(href="#") Об эскорт-агенстве

    li.nav__list-item
      a(href="#") Модели

    li.nav__list-item.nav__list-item--nested
      a(href="#") Услуги

    li.nav__list-item
      a(href="#") Контакты
