.model
  h1.clipped-title.title-lg.model__title Александра

  span.model__subtitle Возраст 18 лет

  ul.model__char
    li.model__char-item
      span.model__char-title Город
      span.model__char-value Санкт-Петербург
    li.model__char-item
      span.model__char-title Параметры
      span.model__char-value 190/160/190
    li.model__char-item
      span.model__char-title Возраст
      span.model__char-value 21 год
    li.model__char-item
      span.model__char-title Рост
      span.model__char-value 171см
    li.model__char-item
      span.model__char-title Размер груди
      span.model__char-value 2

  .model__desc
    <h4>
      <p>Leticia Zuloaga model profile:</p>
      <p>Nationality: Spanish<br>Hair Color: Light Brown<br>Eye Color: Green<br>Date of Birth: 18.August 1992<br>Place of Birth: Barcelona, Catalonia, Spain<br>Height: 5'9.5" ; 177cm<br>Measurements: (US) 34-23.5-34 ; (EU) 86-60-86<br>Dress Size: (US) 2-4 ; (EU) 32-34<br>Shoe Size: (US) 9.5 ; (EU) 41 ; (UK) 7</p>
      <p>Agencies:<br>Traffic Models - Madrid<br>Mega Model Agency - Hamburg<br>IMG Models - New York<br>IMG Models - Paris<br>IMG Models - London<br>IMG Models - Milan<br>Elite Model Management - Los Angeles</p>
      <p>Advertisements:<br>Adolfo Dominguez 'Bambú' fragrance , Guess by Marciano , Guess 'Seductive Homme' fragrance , Revlon Professional , Trucco , Victoria's<br>Secret</p>
      <p>Fashion Shows:<br>Resort 2011 - {A|X}<br>Ready to wear - Autumn/Winter 2011 {Francis Montesinos}</p>
    </h4>
    p Предоставляет клиентам полную конфиденциальность. Мы готовы предложить только высший уровень обслуживания, достойный вашего элитного статуса в обществе и индивидуальных запросов.

  .model__request.undertext-btn
    a(href="#").main-btn забронировать вcтречу
    span Для просмотра большого количества анкет или входа в закрытый каталог

  .model__social
    a(href="https://wa.me/79117104156" rel="noreferrer noopener nofollow").iconed-btn.iconed-btn--green
      svg(width="30" height="30")
        use(xlink:href="./assets/sprite.svg#icon-whatsapp")
      span В Whatsapp

    a(href="https://t.me/MG1990" rel="noreferrer noopener nofollow").iconed-btn.iconed-btn--blue
      svg(width="30" height="30")
        use(xlink:href="./assets/sprite.svg#icon-tg")
      span В Telegram
