nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="faq.html") Вопрос/ответ

    li.nav__list-item
      a(href="main-template.html") Об эскорт-агенстве

    li.nav__list-item
      a(href="catalog.html") Модели

    li.nav__list-item.nav__list-item--nested
      a(href="#") Услуги
        svg(width="8" height="4")
          use(xlink:href="./assets/sprite.svg#icon-dropdown-arrow")

      .nav__list-item-inner
        ul
          li
            a(href="main-template.html") Элитные знакомства с&nbsp;девушками
          li
            a(href="main-template.html") Организация мальчишника
          li
            a(href="main-template.html") Элитные путешествия с&nbsp;эскорт&nbsp;моделями
          li
            a(href="main-template.html") Пригласить эскорт&nbsp;модель
          li
            a(href="main-template.html") Знакомства с&nbsp;медийными&nbsp;девушками

    li.nav__list-item
      a(href="contacts.html") Контакты
