.contact-info
  .contact-info__title
    p Мы в Москве и Санкт-Петербурге
    svg(width="24" height="30")
      use(xlink:href="./assets/sprite.svg#icon-diamond")

  .contact-info__row
    .contact-info__row-phone
      a(href="tel:88003507789") 8 (800) 350-77-89
      small Санкт-Петербург
    .contact-info__row-social.social
      a(href="https://wa.me/79117104156" rel="noreferrer nofollow noopener" aria-label="whatsapp").social__item
        svg(width="30" height="30")
          use(xlink:href="./assets/sprite.svg#icon-whatsapp")
      a(href="https://t.me/MG1990" rel="noreferrer nofollow noopener" aria-label="Telegram").social__item
        svg(width="30" height="30")
          use(xlink:href="./assets/sprite.svg#icon-tg")

  .contact-info__row
    .contact-info__row-phone
      a(href="tel:84952298002") 8 (495) 229-80-02
      small Москва
    .contact-info__row-social.social
      a(href="https://wa.me/79117104156" rel="noreferrer nofollow noopener" aria-label="whatsapp").social__item
        svg(width="30" height="30")
          use(xlink:href="./assets/sprite.svg#icon-whatsapp")
      a(href="https://t.me/MG1990" rel="noreferrer nofollow noopener" aria-label="Telegram").social__item
        svg(width="30" height="30")
          use(xlink:href="./assets/sprite.svg#icon-tg")
