.social
  a(href="https://wa.me/79117104156" rel="noreferrer nofollow noopener" aria-label="whatsapp").social__item
    svg(width="30" height="30")
      use(xlink:href="./assets/sprite.svg#icon-whatsapp")
  a(href="https://t.me/MG1990" rel="noreferrer nofollow noopener" aria-label="Telegram").social__item
    svg(width="30" height="30")
      use(xlink:href="./assets/sprite.svg#icon-tg")
