.thumb-slider-container
  .thumb-slider
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/img/slide_1.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/slide_2.jpg" />
      </div>
    </div>

  .thumb-slider-thumbs(thumbsslider="")
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/img/slide_1.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/slide_2.jpg" />
      </div>
    </div>

  <div class="swiper-button-prev thumb-slider-thumbs-button-prev"></div>
  <div class="swiper-button-next thumb-slider-thumbs-button-next"></div>

