extends layouts/inner-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/articles-page/element

block modals
  //include ./modals/...
