extends layouts/faq-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/faq-page/index

block modals
  //include ./modals/...
