extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/index-page/hero
  include ./sections/index-page/feature
  include ./sections/index-page/about
  include ./sections/index-page/catalog
  include ./sections/index-page/access
  include ./sections/common/request
  include ./sections/index-page/quide
  include ./sections/index-page/review
  include ./sections/index-page/faq
  include ./sections/common/request

block modals
  //include ./modals/...
