extends layouts/inner-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/template-sections/info-2
  include ./sections/common/request

block modals
  //include ./modals/...
