include ./accordeon

mixin faq-section(data)

  section.faq(class= data.cl ? data.cl : null)
    .container.faq__container
      .faq__title.section-title
        span Вопрос-ответ (FAQ)

      .faq__content
        +accordeon( data.array )

      .undertext-btn.faq__btn
        a(href="#").main-btn Получить консультацию
        span более 200 анкет доступно для Вас

      if data.isFooterExist
        .faq__footer-grid

          .faq__footer-grid-side
            .video-preview
              .video-preview__content
                video(type="video/mp4" src="./assets/video/alena-video.mp4")

                button.video-preview__btn
                  svg(width="30" height="30")
                    use(xlink:href="./assets/sprite.svg#icon-play")

          .faq__footer-grid-content
            .faq__footer-text
              p Обратившись в наше эскорт-агентство в Москве или СПб, вы можете рассчитывать на услуги сопровождения. Предлагаем вашему вниманию девушек с красивой модельной внешностью. Нашим клиентам гарантирована полная конфиденциальность. Вы также можете рассчитывать на индивидуальный подход и персональное отношение к вашим желаниям и предпочтениям. Наше эскорт-агентство также предоставляет возможность подбора лучших модели на ваш вкус.

              p Мы постоянно пополняем каталог молодыми, роскошными и сексуальными моделями. Сегодня в нем представлено более 200 анкет реальных девушек. Наше агентство уделяет внимание всем деталям и пожеланиям заказчиков. Поэтому вы можете рассчитывать не только на подбор модели, соответствующей вашим пожеланиям, но и на организацию встречи на самом высоком уровне. Мужчины будут в восторге.

              p Жгучая брюнетка, лучезарная блондинка или огненная рыжеволосая красавица по вашему звонку приедет в гости. Дайте волю своим фантазиям, потому что каждая готова исполнить роль содержанки, любовницы, либо просто скрасит ваш одинокий вечер. Вы сможете провести незабываемое время с ухоженной, шикарной дамой или с очаровательной, стройной девочкой. Любой состоятельный мужчина, достоин, провести личное время в свое удовольствие. Напишите, позвоните в наше эскорт-агентство и мы исполним ваши желания.

              p Цены эскорт-агентства приятно удивят своих клиентов.

            button.faq__more текст целиком
