mixin review-card(text)
  .review-card
    .review-card__header
      .review-card__user-name Константин
      .review-card__user-country Санкт-Петербург

    .review-card__content!= text

    .review-card__footer
      noindex Клиент остался доволен на 100%
