section.about
  .container.about__container
    .about__title.section-title
      span Эскорт-услуги в Москве и Санкт-Петербурге

    .about__text.section-text
      p Наше эскорт агентство предоставляет сопровождение мужчин в различных путешествиях, деловых переговорах, торжественных мероприятиях и многое другое. Организуем знакомство с  образованными и страстными девушками модельной внешности.
      p Действует полная политика конфиденциальности. Сотрудничая с нами, вы получаете огромный выбор анкет, наивысший уровень обслуживания в сопровождении прекрасных моделей.
