section.access
  .container
    .access__wrapper
      .section-title.access__title
        span Шанс познакомиться с элитными VIP моделями

      .access__content
        .section-text.access__text
          p Каталог сайта насчитывает более 250 анкет красивых и обольстительных  эскортниц, прошедших тщательный кастинг. С выставленными фотографиями избранных моделей вы можете познакомиться в закрытой VIP галерее.
          p Возможность выбрать модель имеют только участники нашего элитного клуба. Чтобы получить доступ к частным анкетам и заказать вип-эскорт, необходимо стать нашим клиентом. Зарегистрируйтесь на нашем сайте. Для этого достаточно заполнить необходимую форму-анкету.

        .access__action
          .undertext-btn.access__get-btn
            a(href="#").main-btn Получить доступ
            span более 200 анкет доступно для Вас

          a(href="https://wa.me/79117104156" rel="noreferrer noopener nofollow").iconed-btn.iconed-btn--green
            svg(width="30" height="30")
              use(xlink:href="./assets/sprite.svg#icon-whatsapp")
            span Написать в whatsapp
