include ../../mixins/faq-section

+faq-section({
  isFooterExist: true,
  array: [
    {
      title: 'В каталоге эскорт-агентства представлены фото и анкеты реальных девушек?',
      text: 'Да. В нашем каталоге представлены данные только реальных моделей с приятной внешностью для знакомства и время препровождения. Прежде, чем пополнить наш каталог, мы строго проверяем все предоставленные фото. Опишите менеджеру сайта ваши желания к искомой модели, так вы делаете наш сервис более комфортным и быстрым в подборе необходимой девушки.'
    },

    {
      title: 'Как можно оплатить экскорт-услуги?',
      text: 'Мы принимаем оплату наличными (при встрече с девушкой), банковскими картами и электронными кошельками. Также возможен безналичный расчет.'
    },

    {
      title: 'Чем отличается элитный эскорт от VIP отдыха?',
      text: 'Элитный эскорт предусматривает предоставление классических услуг по сопровождению на торжественных мероприятиях, деловых встречах и т.д.  VIP отдых, предполагает воплощение тайных желаний клиента в реальность. '
    },

    {
      title: 'Гарантируете ли вы полную конфиденциальность мужчине?',
      text: 'Да. Наши клиенты могут рассчитывать на анонимность. И это касается не только заказчиков, но и моделей.'
    },
  ]
})
