section.feature
  .container.feature__container
    ul.feature__list
      li.feature__list-item
        svg(width="75" height="75")
          use(xlink:href="./assets/sprite.svg#icon-check")

        span 100% реальные анкеты <br/>и&nbsp;фото&nbsp;!

      li.feature__list-item
        svg(width="75" height="75")
          use(xlink:href="./assets/sprite.svg#icon-face")

        span более 720 реальных моделей

      li.feature__list-item
        <span class="feature__list-item-icon">12лет</span>

        span работаем на рынке <br>с&nbsp;2010&nbsp;года
