section.hero
  .container
    <h1 class="main-title clipped-title">Элитное эскорт агентство <span class="logo-mark"></span></h1>

    <div class="hero__desc">
      <p>Мечтаете о новом знакомстве и о свидании с привлекательной и обаятельной, молодой девушкой-моделью? Тратите личное время на поиски светской леди для деловых встреч, торжественных мероприятий, личного досуга в выходные дни? Вам нужна фотомодель для путешествий в горячие страны и города, например в такие как Монако, Дубай, Лондон или просто для ночных вечеринок в <span>Москве или Санкт-Петербурге</span>? </p>
      <p>Позвольте нам подобрать для Вас профессиональную эскортницу. Наше <span>эскорт-агентство</span> входит в число лучших «Top Escort club» России. У нас предусмотрен большой выбор анкет девушек, с достоверной информацией каждой участницы и с качественными фотографиями моделей. </p>
    </div>

    <div class="undertext-btn">
      <a class="main-btn" href="katalog/">Посмотреть каталог</a>
      <span>более 270 анкет доступно для Вас</span>
    </div>

