section.quide.section-decorated
  .container
    .quide__title.section-title
      span Как заказать элитный эскорт?

    ul.quide__list
      li.quide__list-item
        span.quide__list-item-icon 1.
        span.quide__list-item-title Оставить заявку
        span.quide__list-item-text Если вам потребовалось эскорт сопровождение, вам нужно стать нашим клиентом и оставить заявку для подбора модели на нашем сайте. Вы также можете заказать услуги элитных девушек по телефону

      li.quide__list-item
        span.quide__list-item-icon 2.
        span.quide__list-item-title Узнайте подробности
        span.quide__list-item-text После обработки заявки с вами свяжется менеджер нашего эскортного агентства и ответит на все интересующие вопросы. Наши консультанты также расскажут о преимуществах VIP статуса и степени конфиденциальности заказчиков. Постоянным клиентам предусмотрены бонусы

      li.quide__list-item
        span.quide__list-item-icon 3.
        span.quide__list-item-title Выбрать время
        span.quide__list-item-text Вы можете выбрать удобное для вас время встречи с моделями. Наш профессиональный менеджер позаботиться об организации встречи, которая будет соответствовать вашим требованиям

