section.info
  .container
    h1.section-title.title-lg.clipped-title ModelGirls — <br>элитное эскорт <span class="logo-mark-anchor">агентство<span class="logo-mark"></span></span>

    .info__grid.info__grid--top
      .info__grid-side
        p Обратившись в наше эскорт агентство в Москве или СПб, вы можете рассчитывать на услуги сопровождения девушками модельной внешности. Нашим клиентам гарантирована полная конфиденциальность. Вы также можете рассчитывать на индивидуальный подход и четкое соблюдение ваших требований. Наша агентство также предоставляет возможность подбора модели на ваш вкус.
        p Мы постоянно обновляем каталог моделей. Сегодня в нем представлено более 200 анкет реальных девушек. Наше агентство внимательно относится к деталям. Поэтому вы можете рассчитывать не только на подбор модели, соответствующей вашим пожеланиям, но и на организацию встречи на самом высоком уровне.

      .info__grid-side
        include ../../components/page-contacts

    h2.section-title.clipped-title.title-md

    .info__grid.info__grid--bottom
      .info__grid-side

      .info__grid-side

        .info__image.image-insert
          img(src="./assets/img/banner-escort.jpeg" alt="Элитные спутницы для путешествий в компании солидных людей")



