section.info
  .container
    h1.section-title.title-lg.clipped-title Элитные эскорт девушки для совместных путешествий

    .info__grid.info__grid--top
      .info__grid-side
        p Любое путешествие станет незабываемым, если в него отправиться в компании красивой девушки. В поездках по бизнесу эскорт-модель поможет освободиться от напряжения. А если путешествие предполагает отдых на курорте, спутница наполнит его яркими эмоциями. С ней гарантированы полные событий дни и горячие ночи.
        p Агентство «MG» поможет в выборе элитной девушки для эскорта. Спутница скрасит самое длительное путешествие, позволит забыть о проблемах и получить положительные впечатления. Нужно только заказать услугу и выбрать модель по своему вкусу...

      .info__grid-side
        include ../../components/page-contacts

    h2.section-title.clipped-title.title-md Элитные спутницы для путешествий в компании солидных людей

    .info__grid.info__grid--bottom
      .info__grid-side
        p В каталоге организации представлены лучшие модели для VIP-персон. Это не просто элитные девушки с запоминающейся внешностью. Каждая из спутниц имеет хорошее образование и манеры, интересные увлечения и... высокий интеллект. Во время путешествия они способны не только ослеплять красотой, но и поддержать разговор на любую тему.
        p Отдохнуть с девушкой совместно на курорте, значит окунуться в череду незабываемых приключений. Такая поездка сохранится в памяти на долгие годы и станет эталоном в плане релакса. А если в путешествие захочется отправиться еще раз, агентство эскорта с радостью предоставит услугу!

        h3 6 причин доверить нам организацию путешествия с эскорт-моделью

        p Наша компания имеет десятки кейсов по организации разных мероприятий. В перечень услуг входит проведение скромных вечеринок и праздников премиального уровня.
        p Но главной фишкой агентства «MG» являются элитные путешествия на курорты в компании моделей. Здесь нам нет равных, чему есть несколько причин:

        ul
          li подбираем девушек по нескольким критериям,
          li организуем путешествия во всех уголках планеты,
          li перед отправлением учитываем все пожелания клиентов,
          li сотрудничаем с топовыми моделями,
          li соблюдаем 100% конфиденциальность путешествий,
          li гарантируем лучшие расценки в эскорте - $ 2099 и ни рублем больше.

        p У всех претенденток на роль спутницы есть заграничный паспорт и визы. В любой момент они готовы отправиться в путешествие и сделать его по-настоящему элитным!

        h3 Элитные путешествия «под ключ»

        p Наши клиенты при планировании путешествий на курорты не думают о трансферах, отелях, мероприятиях и компании. Организация берет на себя технические моменты и подбор элитных красоток для эскорта.
        p В момент встречи со спутницей заказчик попадает в атмосферу приятного блаженства. Он может быть самим собой, что самое главное в жизни. В путешествии кроме эскорта ему обеспечены забота и участие, хорошая компания и восхищенные взгляды окружающих.
        p Заполните на сайте форму и отправляйтесь в захватывающее путешествие. Мы оперативно займемся предоставлением услуги по организации отдыха. С нами вы откроете неизведанный мир, в котором сбываются любые фантазии и рождаются новые мечты.

      .info__grid-side

        .info__image.image-insert
          img(src="./assets/img/girls.jpg" alt="Элитные спутницы для путешествий в компании солидных людей")



