include ../../mixins/catalog

section.model-info
  .container
    .model-info__grid
      .model-info__grid-side.model-info__grid-side--slider
        include ../../components/thumb-slider
      .model-info__grid-side
        include ../../components/model

+catalog({
  title: 'Другие девушки',
  titleClass: 'title-md',
  isInner: false,
  isElementPage: true
})
