footer.footer.section-decorated
  .container.footer__container
    .footer__side
      a(href="#" aria-label="На главную").footer__logo.logo
        img(src="./assets/img/main-logo.svg", alt="" width="176" height="40")
        span Элитное эскорт агенство

      .footer__nav
        include ../components/footer-nav

    .footer__side
      .footer__contacts
        .footer__phones
          include ../components/phones
        .footer__social
          include ../components/social

        .footer__info
          address.footer__info-item
            svg(width="18" height="18")
              use(xlink:href="./assets/sprite.svg#icon-map")
            span 101024, г. Санкт-Петербург, Невский проспект, 152

          address.footer__info-item
            svg(width="18" height="18")
              use(xlink:href="./assets/sprite.svg#icon-map")
            span 123317, г. Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити", <br/>Башня Федерация "Запад".

          a(href="mailto:office@escort-mg.com").footer__info-item.footer__info-item--mail
            svg(width="18" height="18")
              use(xlink:href="./assets/sprite.svg#icon-mail")
            span office@escort-mg.com

          .footer__info-item.footer__info-item--worktime
            svg(width="18" height="18")
              use(xlink:href="./assets/sprite.svg#icon-clock")
            span работаем 24/7

    .footer__side
      .footer__law
        span 18+
        span Model Girls предоставляет услуги в сфере знакомств и не предоставляет услуги интимного характера. От 18 лет. <br/>Знакомства, встречи, общение и поездки строго на обоюдном желании. На сайте не выставляются реальные фотографии. <br/>Все фото являются образцами и прототипами. Сайт не несет ответсвенности за рекламные материалы.



