header.header
  .container.header__container
    a(href="#" aria-label="На главную").header__logo.logo
      img(src="./assets/img/main-logo.svg", alt="" width="176" height="40")
      span Элитное эскорт агенство

    .header__badge
      svg(width="18" height="18")
        use(xlink:href="./assets/sprite.svg#icon-clock")

      span <span>Работаем</span> 24/7

    .header__nav
      include ../components/nav

    .header__contacts
      .header__phones
        include ../components/phones
      .header__social
        include ../components/social

      a(href="#").main-btn.header__callback Заказать звонок

    .header__mobile-contacts
      button.header__mobile-contacts-opener(aria-label="Показать контакты")
        svg(width="30" height="30")
          use(xlink:href="./assets/sprite.svg#icon-phone")
      .header__social
        include ../components/social

    include ../components/burger


