.feature {
  margin-top: -145px;

  &__container {
    max-width: 1440px;
    padding: 45px 60px;
    background-color: rgba(29, 27, 33, 0.9);
    background-image: url("../assets/img/feature-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 4px;
  }

  &__list {
    @extend .flex-wrap;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
  }

  &__list-item {
    display: flex;
    align-items: center;

    svg {
      fill: var(--accent);
      margin-right: 20px;
      min-width: 75px;
    }

    &-icon {
      display: inline-block;
      width: 100%;
      max-width: 180px;

      font-weight: 200;
      font-size: 60px;
      line-height: 1;
      text-transform: uppercase;
      margin-right: 20px;
      color: var(--accent);
    }
  }
}
