.hero {
  padding: 200px 0;

  @include m-b-tablet-lg-down {
    padding-top: 140px;
    padding-bottom: 60px;
    min-height: initial;
  }

  @include m-b-mobile-lg-down {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  background-image: url("../assets/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    max-width: 840px;

    @include m-b-tablet-lg-down {
      max-width: 100%;
    }
  }

  &__desc {
    margin-bottom: 75px;
    p {
      line-height: 30px;
      margin-bottom: 25px;

      span {
        color: var(--accent);
      }
    }
  }
}
