.quide {
  padding-bottom: 100px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;

    @include m-b-laptop-down {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    @extend .flex-column;
    position: relative;
    padding-left: 75px;
    max-width: 390px;

    @include m-b-laptop-down {
      max-width: 100%;
    }

    @include m-b-mobile-lg-down {
      padding-left: 55px;;
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;

      font-family: var(--secondary-font);
      font-weight: 300;
      font-size: 80px;
      color: var(--accent);

      @include m-b-mobile-lg-down {
        font-size: 60px;
      }
    }

    &-title {
      display: inline-block;

      font-family: var(--secondary-font);
      font-size: 24px;
      margin-bottom: 20px;
      color: var(--accent);
    }

    &-text {
      display: inline-block;
      max-width: 297px;
      color: var(--light);

      @include m-b-laptop-down {
        max-width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
  }
}
