.request {
  padding: 40px 0;

  @include m-b-tablet-lg-down {
    padding: 30px 0;
  }

  @include m-b-mobile-lg-down {
    padding: 20px 0;
  }
}

.inner .request {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;

  &::after {
    top: 0;
    left: 0;
    @extend .section-line;
  }
}
